<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome ATATI</p>
<a href="/ocorrencia/consultar" class="">Consultar Ocorrências</a><br>
<a href="/ocorrencia/registrar" class="">Registrar Ocorrência</a><br>
<a href="/users/logout" class="btn btn-primary btn-block mb-2">Sair</a>
